# R History files
.Rhistory
.Rapp.history

# R Session Data
.RData
.Ruserdata

# RStudio specific files
.Rproj.user/
.rstudio-desktop

# Knitr and R Markdown temporary files
*_cache/
/cache/
*.utf8.md
*.knit.md

# Rcpp build files
/src/*.o
/src/*.so
/src/*.dll

# Shiny token files
.httr-oauth

# Local environment files
.Renviron

# CRAN/Bioconductor package build files
*.Rcheck/
*.tar.gz
*.zip

# macOS specific files
.DS_Store

# User-specific rule
*JG* 